body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contForm{
    background-color: burlywood;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid brown;
    border-radius: 20%;
}

#button{
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

input[type="submit"]{
    background-color: brown;
    color: white;
}